* {
    font-family: sans-serif;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    margin: 0;
}

header {
    padding: 0.5rem;
    border-bottom: 2px solid black;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: normal;
}

header h2 {
    margin: 0;
    font-size: 1.125rem;
}

main {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    min-height: 0;
}

fieldset:not(.instance *) {
    border: 2px solid black;
}

button:not(.instance *) {
    padding: 0.75rem;
    padding-block: 0.5rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="checkbox"]:not(.instance *) {
    position: relative;
    display: inline-block;
    appearance: none;
    width: 1rem;
    height: 1rem;
    margin: 0;
    margin-block: 0.5rem;
    background-color: white;
    border: 2px solid black;
    vertical-align: middle;
}

input[type="checkbox"]:not(.instance *) + label {
    display: inline-block;
    vertical-align: middle;
}

input[type="checkbox"]:not(.instance *):checked::before {
    position: absolute;
    top: -0.45rem;
    bottom: 0;
    left: -0.1rem;
    right: 0;
    font-size: 1.1rem;
    content: "✔";
}

textarea {
    width: 100%;
    height: 5rem;
    border: 2px solid black;
    font-family: monospace;
    white-space: nowrap;
    resize: vertical;
}

.instance {
    position: relative;
    width: 94mm;
    height: 127mm;
    flex-shrink: 0;
    background-color: #ee8822;
}

.instance::before {
    position: absolute;
    top: -2rem;
    left: 50%;
    color: #444444;
    transform: translateX(-50%);
    content: "Instance " attr(data-instanceid);
}

.display {
    position: relative;
    left: -2mm;
    width: 98mm;
    height: 60mm;
    background-color: #336633;
}

.display::before {
    position: absolute;
    top: 10mm;
    left: 1mm;
    width: 96mm;
    height: 39mm;
    background-color: #222222;
    border-radius: 2mm;
    content: "";
}

.display::after {
    position: absolute;
    top: 17mm;
    left: 11mm;
    width: 77mm;
    height: 25mm;
    background-color: #1111aa;
    border-radius: 1mm;
    content: "";
}

.instance[data-mode="cpuRun"] .display::after {
    background-color: #3333ff;
}

.display canvas {
    position: absolute;
    top: 19mm;
    left: 14mm;
    width: 71mm;
    height: 21mm;
    z-index: 1;
}

.dips {
    position: relative;
    display: flex;
    width: 0;
    height: 10mm;
    padding: 0;
    padding-inline: 0.635mm;
    background-color: orangered;
    border: none;
}

.dips::before {
    position: absolute;
    top: 0;
    left: 1.5mm;
    font-size: 2mm;
    color: white;
    content: "ON";
}

.dips::after {
    position: absolute;
    top: 0;
    right: 1.5mm;
    font-size: 2mm;
    color: white;
    content: "DIP";
}

.dips legend {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.dips input {
    position: relative;
    display: block;
    width: 1.27mm;
    height: 4mm;
    margin-block: 2.5mm;
    margin-inline: 0.75mm;
    appearance: none;
    background-color: grey;
    cursor: pointer;
}

.dips input::before {
    position: absolute;
    bottom: -3mm;
    font-size: 2mm;
    color: white;
    text-align: center;
    content: attr(dip-pos);
}

.dips input::after {
    position: absolute;
    width: 100%;
    height: 2.5mm;
    bottom: 0;
    background-color: white;
    transition: 0.25s bottom;
    content: "";
}

.dips input:checked::after {
    bottom: calc(4mm - 2.5mm);
}

.dips.system {
    position: absolute;
    top: 70mm;
    left: 0mm;
}

.dips.addr {
    position: absolute;
    top: 70mm;
    left: 18mm;
}

.dips.data {
    position: absolute;
    top: 70mm;
    left: 46mm;
}

.mode {
    position: absolute;
    display: flex;
    top: 72.5mm;
    right: 9mm;
    width: 7mm;
    height: 4.5mm;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #111111;
}

.mode::before {
    position: absolute;
    top: 0.75mm;
    left: 2mm;
    width: 3mm;
    height: 3mm;
    border-radius: 50%;
    background-color: #333333;
    pointer-events: none;
    content: "";
}

.mode::after {
    position: absolute;
    top: 0.5mm;
    left: 2.625mm;
    width: 1.75mm;
    height: 3.5mm;
    border-radius: 1mm;
    background-color: #666666;
    pointer-events: none;
    transition: 0.25s left;
    content: "";
}

.mode:has(input[value="cpuRun"]:is(:checked, :active))::after {
    left: 1.5mm;
}

.mode:has(input[value="ramWrite"]:is(:checked, :active))::after {
    left: 3.5mm;
    transition: 0.05s left;
}

.mode legend {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.mode input {
    width: 33%;
    height: 100%;
    margin: 0;
    appearance: none;
    cursor: pointer;
}

.led {
    width: 3mm;
    height: 3mm;
    border-radius: 50%;
    background-color: #550000;
    transition: 0.05s background-color;
}

.led.cpuRun {
    position: absolute;
    top: 77mm;
    right: 18mm;
}

.mode:has(input[value="cpuRun"]:is(:checked, :active)):not(:has(input[value="ramWrite"]:is(:checked, :active))) ~ .led.cpuRun {
    background-color: #ff0000;
}

.led.ramWrite {
    position: absolute;
    top: 77mm;
    right: 4mm;
    background-color: #003300;
}

.mode:has(input[value="ramWrite"]:is(:checked, :active)) ~ .led.ramWrite {
    background-color: #00cc00;
}

.led.custom {
    position: absolute;
    top: 62mm;
    left: 7mm;
    background-color: #553300;
}

.led.custom.on {
    background-color: #ffcc00;
}

#instances {
    display: flex;
    padding-inline: 5rem;
    gap: 5rem;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: safe center;
    align-items: center;
    overflow: auto;
}

#pane {
    display: flex;
    width: 25rem;
    padding: 0.5rem;
    gap: 0.5rem;
    flex-direction: column;
    overflow: auto;
}

#properties {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-grow: 1;
}

#applyArea {
    display: flex;
    padding: 0.5rem;
    gap: 0.5rem;
    flex-shrink: 0;
    border-block-start: 2px solid black;
}

#applyInstances {
    display: flex;
    gap: 0.5rem;
    flex-grow: 1;
}

#applyInstances > * {
    position: relative;
    display: block;
    flex-grow: 1;
    border: 2px solid black;
}

#applyInstances input {
    margin: 0.5rem;
    z-index: 1;
}

#applyInstances label {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0.3rem;
    padding-inline-start: 2rem;
}