.instance {
    position: relative;
    width: 94mm;
    height: 127mm;
    background-color: #ff9933;
}

.dips {
    position: relative;
    display: flex;
    width: 0;
    height: 10mm;
    padding: 0;
    padding-inline: 0.635mm;
    background-color: orangered;
    border: none;
}

.dips::before {
    position: absolute;
    top: 0;
    left: 1.5mm;
    font-size: 2mm;
    color: white;
    content: "ON";
}

.dips::after {
    position: absolute;
    top: 0;
    right: 1.5mm;
    font-size: 2mm;
    color: white;
    content: "DIP";
}

.dips legend {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.dips input {
    position: relative;
    display: block;
    width: 1.27mm;
    height: 4mm;
    margin-block: 2.5mm;
    margin-inline: 0.75mm;
    appearance: none;
    background-color: grey;
}

.dips input::before {
    position: absolute;
    bottom: -3mm;
    font-size: 2mm;
    color: white;
    text-align: center;
    content: attr(dip-pos);
}

.dips input::after {
    position: absolute;
    width: 100%;
    height: 2.5mm;
    bottom: 0;
    background-color: white;
    transition: 0.25s bottom;
    content: "";
}

.dips input:checked::after {
    bottom: calc(4mm - 2.5mm);
}

.dips.system {
    position: absolute;
    top: 70mm;
    left: 0mm;
}

.dips.addr {
    position: absolute;
    top: 70mm;
    left: 18mm;
}

.dips.data {
    position: absolute;
    top: 70mm;
    left: 46mm;
}

.mode {
    position: absolute;
    display: flex;
    top: 72.5mm;
    right: 9mm;
    width: 7mm;
    height: 4.5mm;
    margin: 0;
    padding: 0;
    border: none;
    background-color: #111111;
}

.mode::before {
    position: absolute;
    top: 0.75mm;
    left: 2mm;
    width: 3mm;
    height: 3mm;
    border-radius: 50%;
    background-color: #333333;
    pointer-events: none;
    content: "";
}

.mode::after {
    position: absolute;
    top: 0.5mm;
    left: 2.625mm;
    width: 1.75mm;
    height: 3.5mm;
    border-radius: 1mm;
    background-color: #666666;
    pointer-events: none;
    transition: 0.25s left;
    content: "";
}

.mode:has(input[value="cpuRun"]:is(:checked, :active))::after {
    left: 1.5mm;
}

.mode:has(input[value="ramWrite"]:is(:checked, :active))::after {
    left: 3.5mm;
    transition: 0.05s left;
}

.mode legend {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.mode input {
    width: 33%;
    height: 100%;
    margin: 0;
    appearance: none;
}

.led {
    width: 3mm;
    height: 3mm;
    border-radius: 50%;
    background-color: #550000;
    transition: 0.05s background-color;
}

.led.cpuRun {
    position: absolute;
    top: 77mm;
    right: 18mm;
}

.mode:has(input[value="cpuRun"]:is(:checked, :active)):not(:has(input[value="ramWrite"]:is(:checked, :active))) ~ .led.cpuRun {
    background-color: #ff0000;
}

.led.ramWrite {
    position: absolute;
    top: 77mm;
    right: 4mm;
    background-color: #003300;
}

.mode:has(input[value="ramWrite"]:is(:checked, :active)) ~ .led.ramWrite {
    background-color: #00cc00;
}

.led.custom {
    position: absolute;
    top: 62mm;
    left: 7mm;
    background-color: #553300;
}

.led.custom.on {
    background-color: #ffcc00;
}